.square {
    border-left: 2px solid ;
    border-top: 2px solid ;
    border-bottom: 2px solid ;
    color: beige;
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    background-color: rgb(31, 131, 6);
}

.square:last-child {
    border-right: 2px solid ;
}

.row {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 0
}